<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Blends
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Blends</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/blends/{$blends.idblend}" method="post">
          <div class="box-body">
            <div class="form-group">
              <!-- Table tb_blends -->
              <label for="desenglishname">Nome do Blend em Inglês</label>
              <input type="text" class="form-control" id="desenglishname" name="desenglishname" placeholder="Digite o nome do Blend em Inglês" value="{$blends.desenglishname}"><br>
              <label for="desportuguesename">Nome do Blend em Português</label>
              <input type="text" class="form-control" id="desportuguesename" name="desportuguesename" placeholder="Digite o nome do Blend em Português" value="{$blends.desportuguesename}">
              <!-- Table tb_blends_facts -->              
              <label for="descomponents">Método de extração</label>
              <input type="text" class="form-control" id="descomponents" name="descomponents" placeholder="Digite o método de extração" value="{$blends.descomponents}">
              <label for="description">Descrição do produto</label>
              <input type="text" class="form-control" id="description" name="description" placeholder="Digite a descrição do produto" value="{$blends.description}">
              <label for="desdilution">Diluição</label>
              <input type="text" class="form-control" id="desdilution" name="desdilution" placeholder="Digite o modo de diluição" value="{$blends.desdilution}">
              <label for="dessecurity">Informações de segurança</label>
              <input type="text" class="form-control" id="dessecurity" name="dessecurity" placeholder="Digite as informações de segurança" value="{$blends.dessecurity}">
              <label for="desapplications">Aplicações</label>
              <input type="text" class="form-control" id="desapplications" name="desapplications" placeholder="Digite as aplicações" value="{$blends.desapplications}">
              <label for="desbenefit">Benefícios primários</label>
              <input type="text" class="form-control" id="desbenefit" name="desbenefit" placeholder="Digite os benefícios primários" value="{$blends.desbenefit}">
              <label for="desprimaryuses">Usos primários comuns</label>
              <input type="text" class="form-control" id="desprimaryuses" name="desprimaryuses" placeholder="Digite os usos primários comuns" value="{$blends.desprimaryuses}">
              <label for="inaromatic_use">Uso aromático? (0 - não / 1 - sim)</label>
              <input type="text" class="form-control" id="inaromatic_use" name="inaromatic_use" placeholder="Uso aromático - 0 (não) ou 1 (sim)" value="{$blends.inaromatic_use}">
              <label for="intopical_use">Uso tópico? (0 - não / 1 - sim)</label>
              <input type="text" class="form-control" id="intopical_use" name="intopical_use" placeholder="Uso tópico - 0 (não) ou 1 (sim)" value="{$blends.intopical_use}">
              <label for="internal_use">Uso interno? (0 - não / 1 - sim)</label>
              <input type="text" class="form-control" id="internal_use" name="internal_use" placeholder="Uso interno - 0 (não) ou 1 (sim)" value="{$blends.internal_use}">
              <label for="desphoto1">Imagem 1 do blend (lista)</label>
              <input type="text" class="form-control" id="desphoto1" name="desphoto1" placeholder="Digite o caminho da imagem 1" value="{$blends.desphoto1}">
              <label for="desphoto2">Imagem 2 do blend (cabeçalho da página)</label>
              <input type="text" class="form-control" id="desphoto2" name="desphoto2" placeholder="Digite o caminho da imagem 2" value="{$blends.desphoto2}">
              <label for="desphoto3">Imagem 3 do blend (componentes)</label>
              <input type="text" class="form-control" id="desphoto3" name="desphoto3" placeholder="Digite o caminho da imagem 3" value="{$blends.desphoto3}">
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->