<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Óleos
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/admin/oils">Óleos</a></li>
    <li class="active"><a href="/admin/oilfacts/{$oilfacts.idoil}">Fatos do óleo</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Fatos do óleo</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">          
          <ul class="list-group">
            <br><strong>Código / Nome do Óleo em Inglês</strong>
            <li class="list-group-item">
                {$oilfacts.idoil} &nbsp; - &nbsp;
                {$oilfacts.desenglishname}</li>
            <br><strong>Nome do Óleo em Português</strong>
            <li class="list-group-item">{$oilfacts.desportuguesename}</li>
            <br><strong>Nome científico</strong>
            <li class="list-group-item">{$oilfacts.desscientificname}</li>
            <br><strong>Nome popular</strong>
            <li class="list-group-item">{$oilfacts.descommonname}</li>
            <br><strong>Família botânica</strong>
            <li class="list-group-item">{$oilfacts.desfamily}</li>
            <br><strong>Orígem do óleo</strong>
            <li class="list-group-item">{$oilfacts.desorigin}</li>
            <br><strong>Método de extração</strong>
            <li class="list-group-item">{$oilfacts.desextrmethod}</li>
            <br><strong>Descrição do produto</strong>
            <li class="list-group-item">{$oilfacts.description}</li>
            <br><strong>Diluição</strong>
            <li class="list-group-item">{$oilfacts.desdilution}</li>
            <br><strong>Informações de segurança</strong>
            <li class="list-group-item">{$oilfacts.dessecurity}</li>
            <br><strong>Aplicações</strong>
            <li class="list-group-item">{$oilfacts.desapplications}</li>
            <br><strong>Tipo / Benefícios primários</strong>
            <li class="list-group-item">
                {$oilfacts.desbenefittype} &nbsp; - &nbsp;
                {$oilfacts.desbenefit}</li>
            <br><strong>Usos primários comuns</strong>
            <li class="list-group-item">{$oilfacts.desprimaryuses}</li>
            <br><strong>Usos: Aromático? - Tópico? - Interno?</strong>
            <li class="list-group-item">
                {if="$oilfacts.inaromatic_use == 1"}Sim{else}Não{/if} 
                &nbsp; - &nbsp;
                {if="$oilfacts.intopical_use == 1"}Sim{else}Não{/if} 
                &nbsp; - &nbsp;
                {if="$oilfacts.internal_use == 1"}Sim{else}Não{/if}
            </li>
            <li>
              <br><strong>Óleo - 150x221</strong>
              <img src={$oilfacts.desphoto1} class="img-fluid w-25">
            </li>
            <li>
              <br><strong>Óleo - 300x300</strong>
              <img src={$oilfacts.desphoto2} class="img-fluid w-25">
            </li>
            <li>
              <br><strong>Imagem - 300x300</strong>
              <img src={$oilfacts.desphoto3} class="img-fluid w-25">
            </li>
          </ul>

        </div>
        <!-- /.box-body -->
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->