<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Óleos
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Óleos</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/oils/{$oils.idoil}" method="post">
          <div class="box-body">
            <div class="form-group">
              <!-- Tabela tb_oils -->
              <label for="desenglishname">Nome do Óleo em Inglês</label>
              <input type="text" class="form-control" id="desenglishname" name="desenglishname" placeholder="Digite o nome do Óleo em Inglês" value="{$oils.desenglishname}"><br>
              <label for="desportuguesename">Nome do Óleo em Português</label>
              <input type="text" class="form-control" id="desportuguesename" name="desportuguesename" placeholder="Digite o nome do Óleo em Português" value="{$oils.desportuguesename}">
              <!-- Tabela tb_oil_facts -->
              <label for="desscientificname">Nome científico</label>
              <input type="text" class="form-control" id="desscientificname" name="desscientificname" placeholder="Digite o nome científico" value="{$oils.desscientificname}">
              <label for="descommonname">Nome popular</label>
              <input type="text" class="form-control" id="descommonname" name="descommonname" placeholder="Digite o nome popular" value="{$oils.descommonname}">
              <label for="desfamily">Família botânica</label>
              <input type="text" class="form-control" id="desfamily" name="desfamily" placeholder="Digite a família botânica" value="{$oils.desfamily}">
              <label for="desorigin">Orígem do óleo</label>
              <input type="text" class="form-control" id="desorigin" name="desorigin" placeholder="Digite a orígem do óleo" value="{$oils.desorigin}">
              <label for="desextrmethod">Método de extração</label>
              <input type="text" class="form-control" id="desextrmethod" name="desextrmethod" placeholder="Digite o método de extração" value="{$oils.desextrmethod}">
              <label for="description">Descrição do produto</label>
              <input type="text" class="form-control" id="description" name="description" placeholder="Digite a descrição do produto" value="{$oils.description}">
              <label for="desdilution">Diluição</label>
              <input type="text" class="form-control" id="desdilution" name="desdilution" placeholder="Digite o modo de diluição" value="{$oils.desdilution}">
              <label for="dessecurity">Informações de segurança</label>
              <input type="text" class="form-control" id="dessecurity" name="dessecurity" placeholder="Digite as informações de segurança" value="{$oils.dessecurity}">
              <label for="desapplications">Aplicações</label>
              <input type="text" class="form-control" id="desapplications" name="desapplications" placeholder="Digite as aplicações" value="{$oils.desapplications}">
              <label for="desbenefit">Benefícios primários</label>
              <input type="text" class="form-control" id="desbenefit" name="desbenefit" placeholder="Digite os benefícios primários" value="{$oils.desbenefit}">
              <label for="desprimaryuses">Usos primários comuns</label>
              <input type="text" class="form-control" id="desprimaryuses" name="desprimaryuses" placeholder="Digite os usos primários comuns" value="{$oils.desprimaryuses}">
              <label for="inaromatic_use">Uso aromático? (0 - não / 1 - sim)</label>
              <input type="text" class="form-control" id="inaromatic_use" name="inaromatic_use" placeholder="Uso aromático - 0 (não) ou 1 (sim)" value="{$oils.inaromatic_use}">
              <label for="intopical_use">Uso tópico? (0 - não / 1 - sim)</label>
              <input type="text" class="form-control" id="intopical_use" name="intopical_use" placeholder="Uso tópico - 0 (não) ou 1 (sim)" value="{$oils.intopical_use}">
              <label for="internal_use">Uso interno? (0 - não / 1 - sim)</label>
              <input type="text" class="form-control" id="internal_use" name="internal_use" placeholder="Uso interno - 0 (não) ou 1 (sim)" value="{$oils.internal_use}">
              <label for="desphoto1">Imagem 1 do óleo (lista)</label>
              <input type="text" class="form-control" id="desphoto1" name="desphoto1" placeholder="Digite o caminho da imagem 1" value="{$oils.desphoto1}">
              <label for="desphoto2">Imagem 2 do óleo (cabeçalho da página)</label>
              <input type="text" class="form-control" id="desphoto2" name="desphoto2" placeholder="Digite o caminho da imagem 2" value="{$oils.desphoto2}">
              <label for="desphoto3">Imagem 3 do óleo (figura)</label>
              <input type="text" class="form-control" id="desphoto3" name="desphoto3" placeholder="Digite o caminho da imagem 3" value="{$oils.desphoto3}">
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->