        
        <section id="home"> <!-- Início seção home  -->
          <div class="container mt-5 pt-4 pb-3">
            <div class="row">
              <div class="col-md-6">
                <h4>Conceitos</h4>
              </div>
              <div class="col-lg-6 d-flex"> <!-- Textos da seção -->
                <div class="align-self-center">
                </div>
              </div> <!-- fim Textos da seção -->
            </div>
          </div>
        </section> <!-- Fim seção home  -->
        
        <section class="caixa"> <!-- Início seção Conceitos -->
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  <strong> >>> O que é um óleo essencial? </strong>
                </a>
              </div>
              <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <p>
                     <em>Apenas cerca de 10% das plantas do mundo produzem óleos essenciais. Os óleos essenciais são compostos aromáticos que elas produzem para diversas funções, desde conservação e reprodução, atraindo a polinização, até sua cura e regeneração.</em>
                  </p>
                  <p>
                     <em>Eles são produzidos a partir de nutrientes do solo e da água, combinados com a luz e o calor do sol, através da fotossíntese.</em>
                  </p>
                  <p class="mb-0">
                      <em>Podem ser encontrados em diversas partes da planta, sendo extraídos, dentre outras, a partir de folhas, flores, frutos, sementes e raízes, por diferentes métodos de extração.</em>
                  </p>
                </div>
              </div>
            </div>    <!-- Fim cartão -->
            <br><br>

            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                <strong> >>> O que vem a ser um blend? </strong>
              </a>
              </div>
              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <em>O blend, ou sinergia, é uma mistura única de óleos essenciais, combinando suas propriedades individuais, para potencializar um efeito desejado, além de obter um novo aroma.</em>
                </div>
              </div>
            </div>    <!-- Fim cartão -->
            <br><br>

            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                  <strong> >>> Quais são os métodos de aplicação? </strong>
                </a>
              </div>
              <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <p class="mb-0">
                      <p>
                        <i class="fa fa-hand-paper-o pl-3 pr-3" aria-hidden="true"> <strong> - Tópico  </strong></i>
                        <em>Aplicar na sola dos pés ou na área afetada para resolver problemas específicos.</em><br>
                      </p>
                      <p>
                        <i class="fa fa-fire pl-3 pr-3" aria-hidden="true"> <strong> - Aromático  </strong></i>
                        <em>Inspire ou use em um difusor.</em><br>
                      </p>
                      
                        <i class="fa fa-tint pl-3 pr-3" aria-hidden="true"> <strong> - Interno  </strong></i>
                        <em>Beber em água ou sob a língua ou em cápsulas de gel.</em>
                  </p>
                </div>
              </div>
            </div>    <!-- Fim cartão -->
          
          </div>    <!-- Fim Accordion -->

        </section> <!-- Fim seção Conceitos -->
 