        
        <section id="home"> <!-- Início seção home  -->
          <div class="container mt-5 pt-4 pb-3">
            <div class="row">
              <div class="col-md-6">
                <h4>Relação de Condições</h4>
              </div>
              <div class="col-lg-6 d-flex"> <!-- Textos da seção -->
                <div class="align-self-center">
                </div>
              </div> <!-- fim Textos da seção -->
            </div>
          </div>
        </section> <!-- Fim seção home  -->
        
        <section class="caixa"> <!-- Início seção Condições -->
          <div class="container">
            <div class="row">

              <div class="row text-center">
                <a href="hematomas" class="col-6 col-sm-4 col-md-3 py-2 bg-light">Hematomas</a>
                <a href="#" class="col-6 col-sm-4 col-md-3 py-2 bg-light">Intolerância a lactose</a>
                <a href="#" class="col-6 col-sm-4 col-md-3 py-2 bg-light">Minerais (deficiência)</a>
                <a href="#" class="col-6 col-sm-4 col-md-3 py-2 bg-light">Mudanças de humor</a>
                <a href="#" class="col-6 col-sm-4 col-md-3 py-2 bg-light">Purificação da água</a>
                <a href="#" class="col-6 col-sm-4 col-md-3 py-2 bg-light">Síndrome do intestino irritável</a>
              </div>              
              
            </div>
          </div>
        </section> <!-- Fim seção Condições -->
