<!DOCTYPE html> 
<html lang="pt-br"> 
    <head> <!-- Meta tags Obrigatórias --> 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        
        <title>RDF Óleos Essenciais</title> 
    </head> 
    <body> 
		<form method="post" name="form1" enctype="multipart/form-data" action="LeImagem.php">
		<fieldset>
		<legend>Upload de Imagem</legend>
		<strong>Fotografia:</strong>
		<input type="file" name="img" id="img" />
		<input type="submit" value="Enviar" />
		<!-- Determinamos via HTML um tamanho máximo para a nossa imagem-->
		<input type="hidden" name="MAX_FILE_SIZE" value="1024000" /> 
		</fieldset>
		</form>
		
		<p>Arquivo processado.</p>

		<br><br>
		<img src="../res/site/img/oil-no-img.jpg">
		<br><br>

		<ul class="list-group">
		  <p>Título 1</p>
		  <li class="list-group-item">Linha 1</li>
		  <p>Título 2</p>
		  <li class="list-group-item">Linha 2</li>
		  <p>Título 3</p>
		  <li class="list-group-item">Linha 3</li>
		  <p>Título 4</p>
		  <li class="list-group-item">Linha 4</li>
		  <p>Título 5</p>
		  <li class="list-group-item">Linha 5</li>
		</ul>

        
    </body> 
</html>
