        
        <section id="home"> <!-- Início seção home  -->
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-none d-lg-block">
                <img src="../res/site/img/doterra-bottles.jpg" class="img-fluid">
              </div>
              <div class="col-lg-6 d-flex"> <!-- Textos da seção -->
                <div class="align-self-center">
                  <h1 class="display-5">Por que <em>doTERRA</em>?</h1> 
                  <br>
                  <p>
                    A pureza de um óleo essencial é a sua característica mais importante. Para garantir 100% de pureza dos seus produtos, a doTERRA criou um rigoroso processo de qualidade, o CPTG® (Certificado de Pureza Testada e Garantida), um dos grandes diferenciais da empresa. 
                  </p>
                </div>
              </div> <!-- fim Textos da seção -->
            </div>
          </div>
        </section> <!-- Fim seção home  -->
        
        <section class="caixa"> <!-- Início seção Saiba mais -->
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-flex">
                <div class="card border-light align-self-center text-center padding-laterais">
                  <div class="card-body text-coffee">
                    <h5>O que são Óleos Essenciais?</h5>
                    <h5>De onde eles vêm?</h5>
                    <h5>Como são extraídos?</h5>
                  </div>
                  <div class="card-footer bg-coffee2 text-white padding-dir">
                    Saiba mais neste vídeo
                    <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>
                  </div>
                  
                </div>
              </div>
              
              <div class="col-md-6 embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/YoIk18xWxZ4" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </section> <!-- Fim seção Saiba mais -->
        
        <section class="caixa"> <!-- Início seção Opções -->
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="align-self-center text-center">
                  <img src="../res/site/img/oleo1.png" class="img-fluid w-25">
                  <p>Conceitos sobre os óleos</p>
                  <a href="conceitos" class="btn btn-secondary btn-lg btn-block">CONCEITOS</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="align-self-center text-center">
                  <img src="../res/site/img/oleo2.png" class="img-fluid w-25">
                  <p>Informações sobre os óleos</p>
                  <a href="oils-list" class="btn btn-secondary btn-lg btn-block">ÓLEOS</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="align-self-center text-center">
                  <img src="../res/site/img/blend.png" class="img-fluid w-25">
                  <p>Informações sobre os blends</p>
                  <a href="blends" class="btn btn-secondary btn-lg btn-block">BLENDS</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="align-self-center text-center">
                  <img src="../res/site/img/sintomas4.png" class="img-fluid w-25">
                  <p>Óleos sugeridos por sintoma</p>
                  <a href="sintomas" class="btn btn-secondary btn-lg btn-block">SINTOMAS</a>
                </div>
              </div>
            </div>
          </div>
        </section> <!-- Fim seção Opções -->
        