        
        <section id="home"> <!-- Início seção home  -->
          <div class="container mt-5">
            <div class="row">
              <div class="col-md-3">
                <div class="align-self-center text-center">
                  <img src="../res/site/img/peppermint_300x300.jpg" class="img-fluid w-75">
                </div>
              </div>
              <div class="col-md-6 align-self-center text-center">
                <h4>Peppermint</h4>
                <h4><em>(Hortelã-pimenta)</em></h4><br>
                <h6>Nome científico: <em>Mentha piperita</em></h6>
              </div>
              <div class="col-md-3">
                <div class="align-self-center text-center">
                  <img src="../res/site/img/mentha-piperita-sm.jpg" class="img-fluid w-75">
                </div>
              </div>
              </div> <!-- fim Textos da seção -->
            </div>
          </div>
        </section> <!-- Fim seção home  -->
        
        <section class="caixa"> <!-- Início seção Saiba mais -->
          <div class="container">
            <div class="row">

              <div class="card-columns">
                
                <div class="card border-secondary align-self-top text-center">
                  <h5 class="card-header">Descrição</h5>
                  <div class="card-body text-coffee">
                    <p class="card-text">
                      A Hortelã-Pimenta é um híbrido de menta-aquática e de hortelã-verde. O que caracteriza a hortelã-pimenta de melhor qualidade é a alta concentração de mentol, como a encontrada no óleo essencial Peppermint. Frequentemente usada em cremes dentais e gomas de mascar para higiene bucal, a Hortelã-Pimenta é um dos óleos essenciais mais vendidos.
                    </p>
                  </div>
                </div> <!-- Fim cartão -->
                
                <div class="card border-secondary align-self-top text-center">
                  <h5 class="card-header">Fatos rápidos</h5>
                  <div class="card-body text-coffee">
                    <ul class="list-group list-group-flush">
                       <li class="list-group-item">
                         <strong>Método de extração: </strong> Destilação a vapor das folhas
                       </li>
                       <li class="list-group-item">
                         <strong>Usos históricos: </strong> 
                           A séculos, a hortelã-pimenta tem sido usada para aliviar problemas digestivos, refrescar o hálito e aliviar cólicas, gases, dores de cabeça, azia e indigestão. 
                       </li>
                       <li class="list-group-item">
                         <strong>Principais componentes químicos:</strong>
                           Menthol, menthone, eucalyptol
                       </li>
                       <li class="list-group-item">
                         <strong>Sistemas corporais afetados: </strong>
                            Sistema digestivo, Sistema nervoso, Pele, Músculos e Ossos. 
                       </li>
                    </ul>
                  </div>
                </div> <!-- Fim cartão -->
                
                <div class="card border-secondary align-self-top text-center">
                  <h5 class="card-header">Usos primários comuns</h5>
                  <div class="card-body text-coffee">
                    <p class="card-text">
                      <ul class="ul-oleos">
                        <li>
                          <i class="fa fa-hand-paper-o pl-2" aria-hidden="true"></i>
                          <i class="fa fa-fire" aria-hidden="true"></i>
                          <i class="fa fa-tint pr-2" aria-hidden="true"></i>
                          Antioxidante
                        </li>
                        <li>
                          <i class="fa fa-hand-paper-o pl-2" aria-hidden="true"></i>
                          <i class="fa fa-fire pr-2" aria-hidden="true"></i>
                          Asma
                        </li>
                        <li>
                          <i class="fa fa-hand-paper-o pl-2" aria-hidden="true"></i>
                          <i class="fa fa-fire pr-2" aria-hidden="true"></i>
                          Azia / Gastrite / Indigestão
                        </li>
                        <li>
                          <i class="fa fa-hand-paper-o pl-2" aria-hidden="true"></i>
                          <i class="fa fa-fire" aria-hidden="true"></i>
                          <i class="fa fa-tint pr-2" aria-hidden="true"></i>
                          Dores de cabeça / Enxaqueca
                        </li>
                        <li>
                          <i class="fa fa-hand-paper-o pl-2" aria-hidden="true"></i>
                          <i class="fa fa-fire pr-2" aria-hidden="true"></i>
                          Fadiga crônica
                        </li>
                        <li>
                          <i class="fa fa-hand-paper-o pl-2" aria-hidden="true"></i>
                          <i class="fa fa-fire" aria-hidden="true"></i>
                          <i class="fa fa-tint pr-2" aria-hidden="true"></i>
                          Infecção da garganta
                        </li>
                        <li>
                          <i class="fa fa-hand-paper-o pl-2" aria-hidden="true"></i>
                          <i class="fa fa-fire pr-2" aria-hidden="true"></i>
                          Rinite / Sinusite
                        </li>
                      </ul>
                    </p>
                  </div>
                  <div class="card-footer text-muted">
                    <i class="fa fa-hand-paper-o pl-2 pr-2" aria-hidden="true"> - Tópico</i>
                    <i class="fa fa-fire pl-2 pr-2" aria-hidden="true"> - Aromático</i>
                    <i class="fa fa-tint pl-2 pr-2" aria-hidden="true"> - Interno</i>
                  </div>
                </div>  <!-- Fim cartão -->
                
                <div class="card border-secondary align-self-top text-center">
                  <h5 class="card-header">Métodos comuns de aplicação</h5>
                  <div class="card-body text-coffee">
                    <p class="card-text">
                      <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
                      : Pode ser aplicado puro, sem diluição, ou diluído 1:1 (1 gota de óleo essencial para 1 gota de óleo base) para crianças e para aqueles com pele sensível. <br>
                      <i class="fa fa-fire" aria-hidden="true"></i>
                      : Usar em um difusor ou inalar diretamente o aroma. <br>
                      <i class="fa fa-tint pr-2" aria-hidden="true"></i>
                      : Pingar 1-2 gotas sob a língua ou tomar em cápsulas. 
                    </p>
                  </div>
                </div>  <!-- Fim cartão -->
                
                <div class="card border-secondary align-self-top text-center">
                  <h5 class="card-header">Propriedades</h5>
                  <div class="card-body text-coffee">
                    <p class="card-text">
                      Analgésico, antibacteriano, anti-inflamatório, antisséptico, antiespasmódico, antiviral, revigorante.
                    </p>
                  </div>
                </div> <!-- Fim cartão -->
                
                <div class="card border-secondary align-self-top text-center">
                  <h5 class="card-header">Informações de segurança</h5>
                  <div class="card-body text-coffee">
                    <p class="card-text">
                       Uso Externo. Pode causar irritação cutânea. Mantenha fora do alcance de crianças. Em caso de gravidez ou tratamento, consulte o médico. Use com cautela em caso de pressão arterial alta. Evite contato com os olhos,  ouvidos e áreas sensíveis. Em caso de contato com os olhos, enxágue com óleo vegetal em abundância. Em caso de irritação, descontinue o uso e procure um médico. Mantenha o produto ao abrigo da luz e do calor.
                    </p>
                  </div>
                </div> <!-- Fim cartão -->
                
              </div>
              
            </div>
          </div>
        </section> <!-- Fim seção Saiba mais -->
