        
        <section id="home"> <!-- Início seção home  -->
          <div class="container mt-5 pt-4 pb-3">
            <div class="row">
              <div class="col-md-6">
                <h4>Hematomas</h4>
              </div>
              <div class="col-lg-6 d-flex"> <!-- Textos da seção -->
                <div class="align-self-center">
                </div>
              </div> <!-- fim Textos da seção -->
            </div>
          </div>
        </section> <!-- Fim seção home  -->
        
        <section class="caixa"> <!-- Início seção Sintomas -->
          <div class="container">
            <div class="row">

              <div class="card-deck mb-2">
                <div class="card border-secondary align-self-top text-center">
                  <h5 class="card-header">O que são</h5>
                  <div class="card-body text-coffee">
                    <p class="card-text">
                      Um acúmulo de sangue, em determinado lugar do organismo, devido à ruptura de vasos sangüíneos ou veias, e o conseqüente extravasamento. Caracterizam-se por manchas escuras, localizadas sob a pele, unhas, órgãos e tecidos. Os hematomas geralmente são causados por algum tipo de choque, traumatismos, acidentes, alterações hematológicas ou outros.
                    </p>
                  </div>
                </div>
                <div class="card border-secondary align-self-top text-center">
                  <h5 class="card-header">Óleos sugeridos</h5>
                  <div class="card-body text-coffee">
                    <p class="card-text">
                      <ul class="ul-oleos">
                        <li>
                          <i class="fa fa-hand-paper-o pr-2" aria-hidden="true"></i>
                          <a href="#">Helichrysum <em>(sempre-viva)</em></a>
                        </li>
                        <li>
                          <i class="fa fa-hand-paper-o pr-2" aria-hidden="true"></i>
                          <a href="#">Geranium <em>(gerânio)</em></a>
                        </li>
                        <li>
                          <i class="fa fa-hand-paper-o pr-2" aria-hidden="true"></i>
                          <i class="fa fa-fire pr-2" aria-hidden="true"></i>
                          <i class="fa fa-tint pr-2" aria-hidden="true"></i>
                          <a href="#">Fennel <em>(erva-doce)</em></a>
                        </li>
                        <li>
                          <i class="fa fa-hand-paper-o pr-2" aria-hidden="true"></i>
                          <a href="#">Deep Blue <em>(mistura para músculos e juntas)</em></a>
                        </li>
                    </p>
                  </div>
                  <div class="card-footer text-muted">
                    <i class="fa fa-hand-paper-o pl-3 pr-3" aria-hidden="true"> - Tópico</i>
                    <i class="fa fa-fire pl-3 pr-3" aria-hidden="true"> - Aromático</i>
                    <i class="fa fa-tint pl-3 pr-3" aria-hidden="true"> - Interno</i>
                  </div>
                </div>
              </div>
              
              <div class="card-deck mt-4 mb-1">
                <div class="card border-secondary align-self-top text-center">
                  <h5 class="card-header">Soluções simples</h5>
                  <div class="card-body text-coffee">
                    <p class="card-text">
                      Adicione 5 gotas de helichrysum a 1 colher de chá (5 ml) de óleo de côco fracionado em um frasco pequeno e aplique sobre a área machucada.
                    </p>
                  </div>
                </div>
                <div class="card border-secondary align-self-top text-center">
                  <h5 class="card-header">Métodos de aplicação</h5>
                  <div class="card-body text-coffee">
                    <p class="card-text">
                      Dilua como recomendado e aplique 1-2 gotas ao local. 
                    </p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </section> <!-- Fim seção Sintomas -->
