#home {
  /*background: #ffc107;*/
  background: #241906;
  color: white;
}

#logo a {
  width: 400px;
  height: 110px;
  text-indent: -9999px;
  display: block;
  background: url(img/logo-essenciais.png) no-repeat;
}

nav ul li a:hover {
  border-bottom: 1px solid #535858;
}


.bg-coffee {
  background: #241906;
}

.bg-coffee2 {
  background: #422d08;
}

.text-coffee {
  color: #422d08;
}

.caixa {
  padding: 60px 0;
  border-bottom: 1px solid #e5e5e5;
}

.padding-dir {
  padding-right: 10px;
  font-size: 1.2rem;
}

.padding-esq {
  padding-left: 10px;
}

.padding-laterais {
  padding: 0 60px;
}

.ul-oleos {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container2{
    padding: 10%;
    text-align: center;
}
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}
 
#custom-search-input .search-query {
    width:100%;
    padding-right: 3px;
    padding-left: 15px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
}
 
#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: absolute;
    right:0;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
    cursor: unset;
    z-index: 2;
}
 
.search-query:focus{
    z-index: 0;   
}